/tmp
node_modules

# We only want a top-level `pnpm-lock.yaml` file.
legacy/**/package-lock.json
legacy/**/pnpm-lock.yaml
legacy/**/yarn.lock
templates/**/package-lock.json
templates/**/pnpm-lock.yaml
templates/**/yarn.lock

# Ignore any dist, tmp, or node_modules directories
legacy/**/.next
legacy/**/.env
legacy/**/anchor/target/debug
legacy/**/anchor/target/deploy
legacy/**/anchor/target/release
legacy/**/anchor/target/sbf-solana-solana
legacy/**/anchor/target/test-ledger
legacy/**/anchor/target/.rustc_info.json
legacy/**/dist
legacy/**/node_modules
legacy/**/tmp
templates/**/.next
templates/**/.env
templates/**/anchor/target/debug
templates/**/anchor/target/deploy
templates/**/anchor/target/release
templates/**/anchor/target/sbf-solana-solana
templates/**/anchor/target/test-ledger
templates/**/anchor/target/.rustc_info.json
templates/**/dist
templates/**/node_modules
templates/**/tmp
