# Add files here to ignore them from prettier formatting
/dist
/coverage
/tmp
pnpm-lock.yaml
.next

# Ignore any dist, tmp, or node_modules directories
templates/**/.env
templates/**/.anchor
templates/**/anchor/src/client/js/generated
templates/**/anchor/target/debug
templates/**/anchor/target/deploy
templates/**/anchor/target/release
templates/**/anchor/target/sbf-solana-solana
templates/**/anchor/target/test-ledger
templates/**/anchor/target/.rustc_info.json
templates/**/dist
templates/**/node_modules
templates/**/tmp
web3js/**/.env
web3js/**/.anchor
web3js/**/anchor/target/debug
web3js/**/anchor/target/deploy
web3js/**/anchor/target/release
web3js/**/anchor/target/sbf-solana-solana
web3js/**/anchor/target/test-ledger
web3js/**/anchor/target/.rustc_info.json
web3js/**/dist
web3js/**/node_modules
web3js/**/tmp
