# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules/

# next.js
/.next/
**/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
tools/**/.env*
tools/**/pnpm-lock.yaml
tools/**/node_modules

# tool subpackages build artifacts
tools/**/dist
tools/**/build

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts