[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "FtLmbN47XymPqPqTXGSLzpYjnS6Lx5TXjbuVJBXd7Ve5"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"

[hooks]
