[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "28HK4rVLYEmtPqLgAD1ASC78PubWunVUs4YiZVQp8emz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
