[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "C4PdzCYdTm77E4BC3bRo2JMcJRQ4kzX1aE16yebDvequ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
